---
import { Image } from 'astro:assets';
import H1 from "../components/h1.astro";
import InfoLayout from "../layouts/InfoLayout.astro";
import ACGenerator from "../assets/ac-generator.jpg";
import FluidPropulsion from "../assets/fluid-propulsion.jpg";
import ElectricMotor from "../assets/electro-magnetic-motor.jpg";

const projects = [
     {
          title: "AC Generator",
          description: "Transform mechanical energy into alternating current, powering the modern electric grid",
          image: ACGenerator
     },
     {
          title: "Fluid Propulsion",
          description: "Bladeless turbine using fluid dynamics for efficient, low-friction propulsion.",
          image: FluidPropulsion
     },
     {
          title: "Electro-Magnetic Motor",
          description: "Harness alternating current to produce smooth, efficient rotary motion.",
          image: ElectricMotor
     }];
---

<InfoLayout>
    <section class="relative z-20 max-w-4xl mx-auto my-12 px-7 lg:px-0">
  <div class="relative z-20 w-full mx-auto lg:mx-0">
    <h2 class="text-2xl font-bold tracking-tight text-white sm:text-3xl lg:text-4xl">
      Tableau des réalisations professionnelles
    </h2>
    <p class="mt-3 text-sm leading-6 text-zinc-300 sm:mt-4 lg:mt-6 sm:leading-7 lg:leading-8 sm:text-base lg:text-lg">
      Voici un aperçu de mes compétences.
    </p>
  </div>

  <div class="overflow-hidden rounded-2xl border border-zinc-200 bg-white mt-6 shadow-xl">
    <table class="min-w-full border-collapse">
      <thead class="bg-zinc-100">
        <tr>
          <th class="border border-zinc-300 text-left px-4 py-2 font-semibold text-zinc-800">
            Compétences mises en œuvre
          </th>
          <th class="border border-zinc-300 text-left px-4 py-2 font-semibold text-zinc-800">
            Réalisations en cours de formation
          </th>
          <th class="border border-zinc-300 text-left px-4 py-2 font-semibold text-zinc-800">
            Réalisations en milieu professionnel en 1re année
          </th>
          <th class="border border-zinc-300 text-center px-4 py-2 font-semibold text-zinc-800">
            Réalisations en milieu professionnel en 2e année
          </th>
        </tr>
      </thead>
      <tbody>
        <!-- 1 -->
        <tr>
          <td class="border border-zinc-300 px-4 py-2 text-zinc-800">
            Gérer le patrimoine informatique
          </td>
          <td class="border border-zinc-300 px-4 py-2 "></td>
          <td class="border border-zinc-300 px-4 py-2">
               <a href="/pdf/Awak'sBornes.pdf" target="_blank"
              class="inline-block px-4 py-2 text-sm font-medium text-zinc-800 bg-white border border-zinc-300 rounded-full hover:bg-zinc-100 transition">
              Awak's Borne et TPE
            </a>
          </td>
              <td class="border border-zinc-300 px-4 py-2">
                <a href="/pdf/Mercator-SDIS84.pdf" target="_blank"
              class="inline-block px-4 py-2 text-sm font-medium text-zinc-800 bg-white border border-zinc-300 rounded-full hover:bg-zinc-100 transition">
              Mercator SDIS84
            </a>
          </td>
        </tr>

        <!-- 2 -->
        <tr>
          <td class="border border-zinc-300 px-4 py-2 text-zinc-800">
            Répondre aux incidents et aux demandes d’assistance et d’évolution
          </td>
          <td class="border border-zinc-300 px-4 py-2"></td>
          <td class="border border-zinc-300 px-4 py-2 text-center">
            <a href="/pdf/Gestion-BDD-SDIS84.pdf" target="_blank"
              class="inline-block px-4 py-2 text-sm font-medium text-zinc-800 bg-white border border-zinc-300 rounded-full hover:bg-zinc-100 transition">
              Gestion de BDD SDIS84
            </a>
          </td>
          <td class="border border-zinc-300 px-4 py-2">
                <a href="/pdf/CVE-SDIS84.pdf" target="_blank"
              class="inline-block px-4 py-2 text-sm font-medium text-zinc-800 bg-white border border-zinc-300 rounded-full hover:bg-zinc-100 transition">
              Ticket CVE SDIS84
            </a>
          </td>
        </tr>
        <tr>
          <td class="border border-zinc-300 px-4 py-2 text-zinc-800">
               Développer la présence en ligne de l’organisation
          </td>
          <td class="border border-zinc-300 px-4 py-2 text-center">
            <a href="/pdf/Préscence_en_ligne.pdf" target="_blank"
              class="inline-block px-4 py-2 text-sm font-medium text-zinc-800 bg-white border border-zinc-300 rounded-full hover:bg-zinc-100 transition">
              TonTaTouF
            </a>
          </td>
            <td class="border border-zinc-300 px-4 py-2"></td>
            <td class="border border-zinc-300 px-4 py-2 text-center">
            <a href="/pdf/GSB-Analytics.pdf" target="_blank"
              class="inline-block px-4 py-2 text-sm font-medium text-zinc-800 bg-white border border-zinc-300 rounded-full hover:bg-zinc-100 transition">
              GSB Analytics
            </a>
          </td>
        </tr>
        <!-- 3 -->
        <tr>
          <td class="border border-zinc-300 px-4 py-2 text-zinc-800">
            Travailler en mode projet
          </td>
          <td class="border border-zinc-300 px-4 py-2"></td>
          <td class="border border-zinc-300 px-4 py-2 text-center">
            <a href="/pdf/Suivi-Mission-Markdown.pdf" target="_blank"
              class="inline-block px-4 py-2 text-sm font-medium text-zinc-800 bg-white border border-zinc-300 rounded-full hover:bg-zinc-100 transition">
              Markdown SDIS84
            </a>
          </td>
          <td class="border border-zinc-300 px-4 py-2"></td>
          
        </tr>

        <!-- 4 -->
        <tr>
          <td class="border border-zinc-300 px-4 py-2 text-zinc-800">
            Mettre à disposition des utilisateurs un service informatique
          </td>
          <td class="border border-zinc-300 px-4 py-2"></td>
          <td class="border border-zinc-300 px-4 py-2 text-center">
            <a href="/pdf/Logiciel-Awak's.pdf" target="_blank"
              class="inline-block px-4 py-2 text-sm font-medium text-zinc-800 bg-white border border-zinc-300 rounded-full hover:bg-zinc-100 transition">
              Windev Awak's 
            </a>
          </td>
        </tr>
        
        <!-- 5 -->
        <tr>
          <td class="border border-zinc-300 px-4 py-2 text-zinc-800">
            Organiser son développement professionnel
          </td>
          <td class="border border-zinc-300 px-4 py-2 text-center">
            <a href="/pdf/Obsidian&Ankies.pdf" target="_blank"
              class="inline-block px-4 py-2 text-sm font-medium text-zinc-800 bg-white border border-zinc-300 rounded-full hover:bg-zinc-100 transition">
              Obsidian, Anki
            </a>
          </td>
          <td class="border border-zinc-300 px-4 py-2"></td>
          <td class="border border-zinc-300 px-4 py-2"></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="text-center mt-10 mb-6">
    <a href="/pdf/E5_Tableau_de_synthese.pdf" target="_blank"
      class="inline-block px-6 py-3 font-medium text-zinc-800 bg-white border border-zinc-300 rounded-full hover:bg-zinc-100 transition">
      Ouvrir le tableau de synthèse
    </a>
  </div>
</section>

</InfoLayout>